<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		<% include ./partials/navigation %>

		<div class="container" class="col-sm-12">
    	<div class="row">
				<h2 class="col-sm-6 col-sm-offset-3" style="text-align: center;">Nevada Department of Wildlife</h2>
				<h3 class="col-sm-6 col-sm-offset-3" style="text-align: center;">Wildlife Sight Record - Form 240</h3>
        <div class="col-sm-8 col-sm-offset-2">
					<hr>
					<div class="bg-warning">
						<p class="text-muted" style="padding: 5px 10px;">Use this form to make changes to this record. Click Save Record to save changes. To reset coordinates to current position click Reset Coordinates.</p>
					</div>
					<hr>
            <form action="/encounters/<%= encounter._id %>?_method=PUT" method="POST" name="encForm">

							<div class="form-group">
									<label for="date">Date</label>
									<input class="form-control" type="date" name="encounter[date]" value="<%= encounter.date %>">
							</div>
							<div class="form-group">
									<label for="observer">Observer</label>
									<input class="form-control" type="text" name="encounter[observer]" value="<%= encounter.observer %>">
							</div>
							<div class="form-group">
									<label for="species">Species</label>
                  <input class="form-control" type="text" name="encounter[species]" value="<%= encounter.species %>">
              </div>
							<div class="form-group">
									<label for="female">No. Female</label>
                  <input class="form-control" type="number" name="encounter[female]" value="<%= encounter.female %>">
              </div>
							<div class="form-group">
									<label for="male">No. Male</label>
                  <input class="form-control" type="number" name="encounter[male]" value="<%= encounter.male %>">
              </div>
							<div class="form-group">
									<label for="adult">No. Adult</label>
                  <input class="form-control" type="number" name="encounter[adult]" value="<%= encounter.adult %>">
              </div>
							<div class="form-group">
									<label for="young">No. Young</label>
                  <input class="form-control" type="number" name="encounter[young]" value="<%= encounter.young %>">
              </div>
							<div class="form-group">
									<label for="total">Total</label>
                  <input class="form-control" type="number" name="encounter[total]" value="<%= encounter.total %>">
              </div>
							<div class="form-group">
									<label for="x">Longitude</label>
									<input class="form-control" type="number" step="0.0001" name="encounter[x]" value="<%= encounter.x %>">
							</div>
							<div class="form-group">
									<label for="y">Latitude</label>
									<input class="form-control" type="number" step="0.0001" name="encounter[y]" value="<%= encounter.y %>">
							</div>
							<div class="form-group">
									<label for="location">Location</label>
									<input class="form-control" type="text" name="encounter[location]" value="<%= encounter.location %>">
							</div>
							<div class="form-group">
									<label for="comments">Comments</label>
									<textarea name="encounter[comments]" class="form-control" cols="40"><%= encounter.comments %></textarea>
							</div>
							<div class="form-group">
              	<button type="button" class="btn btn-lg btn-success btn-block" style="margin-top: 10px;" onclick="geoFindMe()">Reset Coordinates</button>
              </div>
              <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block" style="margin-top: 10px;">Save Record</button>
              </div>

            </form>
            <a href="/encounters">Go Back</a>
        </div>
    	</div>
		</div>

		<script>
			function geoFindMe() {

				if (!navigator.geolocation){
					alert("<p>Geolocation is not supported by your browser</p>");
					return;
				}

				function success(position) {
					var latitude  = position.coords.latitude.toFixed(4);
					var longitude = position.coords.longitude.toFixed(4)	;
					document.forms["encForm"]["encounter[x]"].value = longitude;
					document.forms["encForm"]["encounter[y]"].value = latitude;
				};

				function error() {
					alert("Unable to retrieve your location");
				};

				navigator.geolocation.getCurrentPosition(success, error);
			}
		</script>

	</body>
</html>
