<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
		<script
			  src="https://code.jquery.com/jquery-3.1.0.min.js"
			  integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
			  crossorigin="anonymous"></script>
		<script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
	</head>
	<body>

		<% include ./partials/navigation %>

		<div class="container">
    <header class="jumbotron">
         <div class="container">
             <h1>Wildlife Observations!</h1>
             <p>Enter, edit, and view wildlife observations made by NDOW biologists.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/encounters/new">Add New Encounter</a>
             </p>
         </div>
     </header>

		 <table id="encTable" class="display" cellspacing="0" width="100%">
		 	<thead>
				<tr>
					<th>Species</th>
					<th>Date</th>
					<th>Female</th>
					<th>Male</th>
					<th>Adult</th>
					<th>Young</th>
					<th>Total</th>
					<th>Location</th>
					<th>Action</th>
				</tr>
		 	</thead>
			<tbody>
				<% encounters.forEach(function(encounter){ %>
					<tr>
						<td><a href="/encounters/<%= encounter._id %>"><%= encounter.species %></a></td>
						<td><%= encounter.date %></td>
						<td><%= encounter.female %></td>
						<td><%= encounter.male %></td>
						<td><%= encounter.adult %></td>
						<td><%= encounter.young %></td>
						<td><%= encounter.total %></td>
						<td><%= encounter.location %></td>
						<td>
							<form method="POST" action="/encounters/<%= encounter._id %>?_method=DELETE" class="form-inline">
								<a href="/encounters/<%= encounter._id %>" class="btn btn-primary btn-sm">View</a>
								<a href="/encounters/<%= encounter._id %>/edit" class="btn btn-warning btn-sm">Edit</a>
              	<button class="btn btn-sm btn-danger">Delete</button>
	            </form>
						</td>
					</tr>
				<% }) %>
			</tbody>
		 </table>
	 </div>

		<script type="text/javascript">
		$(document).ready(function() {
			$('#encTable').dataTable();
		} );
		</script>
  </body>
</html>
